@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
// Colors

$black: #090909;
$white: #D7D7D7;
$gray1: #161616;
$gray2: #2D2D2D;
$gray3: #363636;
$gray4: #757575;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $white;
    font-family: "Poppins";
    transition: .4s;
}

body{
    background: #090909;
    padding: 0 20px;
}

a{
    text-decoration: none;
}

p{
    line-height: 160%;
    font-size: 18px;

    i{
        color: inherit;
        font-style: italic;
    }
}

h1{
    font-size: 48px;
    margin-bottom: 56px;
}
h2{
    font-size: 36px;
    font-weight: 600;
}
h4{
    font-size: 14px;
    font-weight: 500;
    color: $gray3;
    margin-bottom: -8px;
}

.container{
    max-width: 800px;
    margin: 116px auto;
}

.icon-home{
    margin-bottom: 32px;
}

.capitulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 64px 32px;
    border-top: 1px solid $gray1;
    margin: 0;

    .titulo-capitulo:hover h2{
        color: $gray4;
        text-decoration: underline;
    }
    svg{
        opacity: 0;
        transform: translate3d(-15px, 15px, 0);
    }
    .titulo-capitulo:hover ~ svg{
        transform: translate3d(0, 0, 0);
        opacity: 1;
        path{
            stroke: $gray4;
        }
    }

    svg{
        margin-left: 40px;
    }
}

.unavailable{
    pointer-events: none;
    h2{
        color: $gray2;
        text-decoration: line-through;
    }
    h4{
        display: none;
    }
    svg{
        display: none;
    }
}

.thumb{
    display: block;
    margin-bottom: 32px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.233);
}

article{
    margin: 40px 0;

    p{
        margin-bottom: 20px;
    }

    strong{
        color: $gray4;
    }
    .fala{
        color: $gray4;
        &::before{
            content: "";
            position: relative;
            margin-right: 10px;
            top: -4px;
            display: inline-block;
            width: 10px;
            height: 1px;
            background-color: $gray4;
        }
    }

}

.end{
    margin: 32px 0;
}