@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #D7D7D7;
  font-family: "Poppins";
  transition: 0.4s;
}

body {
  background: #090909;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

p {
  line-height: 160%;
  font-size: 18px;
}
p i {
  color: inherit;
  font-style: italic;
}

h1 {
  font-size: 48px;
  margin-bottom: 56px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  color: #363636;
  margin-bottom: -8px;
}

.container {
  max-width: 800px;
  margin: 116px auto;
}

.icon-home {
  margin-bottom: 32px;
}

.capitulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 32px;
  border-top: 1px solid #161616;
  margin: 0;
}
.capitulo .titulo-capitulo:hover h2 {
  color: #757575;
  text-decoration: underline;
}
.capitulo svg {
  opacity: 0;
  transform: translate3d(-15px, 15px, 0);
}
.capitulo .titulo-capitulo:hover ~ svg {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.capitulo .titulo-capitulo:hover ~ svg path {
  stroke: #757575;
}
.capitulo svg {
  margin-left: 40px;
}

.unavailable {
  pointer-events: none;
}
.unavailable h2 {
  color: #2D2D2D;
  text-decoration: line-through;
}
.unavailable h4 {
  display: none;
}
.unavailable svg {
  display: none;
}

.thumb {
  display: block;
  margin-bottom: 32px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.233);
}

article {
  margin: 40px 0;
}
article p {
  margin-bottom: 20px;
}
article strong {
  color: #757575;
}
article .fala {
  color: #757575;
}
article .fala::before {
  content: "";
  position: relative;
  margin-right: 10px;
  top: -4px;
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: #757575;
}

.end {
  margin: 32px 0;
}